
        <div class="container-fluid" id="bioData">
          <div class="jumbotron bg-color">
              <div class="card mb-3 boxShadow" >
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-4 text-center">
                      <img class=" img-thumbnail img-fluid" src="/images/faruk.png" class="card-img" alt="faruk profile">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title text-center">Bio Data</h5>
                          <hr class="hr ">
                          <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Faruk Hossain</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Experienced</th>
                                  <td>Web-Designer + Web-Developer</td>              
                                </tr>
                                <tr>
                                    <th scope="row">Technical Skills</th>
                                    <td>Html, css, js, Bootstrap, Jquery, NODEJS, EXPRESSJS, MONGODB</td>              
                                  </tr>
                                <tr>
                                  <th scope="row">Languages Known</th>
                                  <td>English, Hindi, Bangla</td>
                                </tr>
                                <tr>
                                  <th scope="row">Email</th>
                                  <td>fa905432@gmail.com</td>
                                </tr>
                                <tr>
                                  <th scope="row">Phone</th>
                                  <td>+8801721343293</td>
                                </tr>
                                <tr>
                                  <th scope="row">Address</th>
                                  <td>Jhenaidh, Dhaka, Bangladesh</td>
                                </tr>
                                <tr>
                                  <th scope="row">Educational Qualification</th>
                                  <td>B.A, Hons. Running</td>
                                </tr>
                                <tr>
                                  <th scope="row">Date Of Birth</th>
                                  <td>12 Dec 1997</td>
                                </tr>
                                <tr>
                                  <th scope="row">Sex</th>
                                  <td>Male</td>
                                </tr>
                                <tr>
                                  <th scope="row">Maritial Status</th>
                                  <td>Single</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>