

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#projectSection">Web design</a></li>
                            <li><a href="#projectSection">Development</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <img src="/" alt="">
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Faruk Hossain</h3>
                        <div class="boxShadow" >
                            <pre class="text-light" id="pretag">
                                I have 2+ years of experience in web application development.

                                I'll build highly professional, scale-able and secure website for your business using latest technologies.
                                  
                                Back-end: NodeJS, ExpressJS 
                                Front-end: Html, css, js, Bootstrap, Jquery, EJS
                                Database: MongoDB 
                                
                                - Integration of the third-party APIS.
                                - Follows coding standards.
                                - Basic git command. 
                                
                                I can also fix the bugs related to these technologies.
                            </pre>
                        </div>
                    </div>
                    <div class="col item social">
                        <a href="https://github.com/FarukHossain2133"><i class="fa fa-github"></i></a>
                        <a href="https://www.facebook.com/farukahmed.faruk.102"><i class="icon fa fa-facebook"></i></a>
                        <a href="https://stackoverflow.com/users/12152198/faruk-hossain"><i class="icon fa fa-stack-overflow"></i></a>
                        <a href="https://twitter.com/Faruk4122"><i class="icon fa fa-twitter"></i></a>
                    </div>
                </div>
                <p class="copyright">Faruk Hossain © <span id="year"></span></p>
            </div>
        </footer>
    </div>
 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/javascripts/script.js"></script>
</body>
</html> 