
 
            <div class="col-md-8 offset-md-2 text-center" id="projectSection">
              <h2 class="display-5 text-uppercase">Some demo project</h2>
              <p class="lead">These below project was created by me.There source code uploaded in github. I also deployed them in heroku </p>
              <hr class="bg-white">
            </div>
            <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 col-lg-6 col-xl-4 text-center my-3 boxShadow" style="padding: 10px">
                <div class="card bg-dark text-white cardHover" style="padding: 10px">
                    <img  src="/images/blog.PNG" class="card-img cardImg" alt="faruk gigs">
                    <div class="card-img-overlay text-center d-flex justify-content-center align-items-center flex-column">
                      <h5 class="card-title text-center text-uppercase">Blog Project</h5>
                      <!-- <hr style="border-bottom: 1px solid whitesmoke; width: 150px; text-align: center"> -->
                      <!-- Button trigger modal -->
                      <div class="d-flex justify-content-center align-items-center flex-column " style="bottom: 0">
                        <button type="button" class="btn btn-sm btn-outline-light mt-2 text-uppercase" data-toggle="modal" data-target="#exampleModalCenter">
                          show site in modal window
                        </button>
                        <a href="https://github.com/FarukHossain2133/blogSite" target="_blank" class="btn btn-light 
                        btn-sm mt-2 text-uppercase" >
                          show github source code
                        </a>
                        <a href="https://faruk-blog.herokuapp.com" target="_blank" class="btn btn-sm btn-light mt-2 text-uppercase" >
                          show heroku live
                        </a>
                      </div>
                       
                      <button type="button" class="btn btn-sm btn-light mt-2 text-uppercase" data-toggle="tooltip" data-placement="bottom" title="HTML, CSS, JS, BOOTSTRAP, JQUERY, NODEJS, EXPRESSJS, MONGODB">
                         used languages
                      </button>
                    </div>
                </div>
          </div>



          <div class="col-md-6 col-lg-6 col-xl-4 text-center my-3 boxShadow" style="padding: 10px">
            <div class="card bg-dark text-white cardHover" style="padding: 10px">
                <img  src="/images/password.PNG" class="card-img cardImg" alt="faruk gigs">
                <div class="card-img-overlay text-center d-flex justify-content-center align-items-center flex-column">
                  <h5 class="card-title text-center text-uppercase">Password Management App</h5>
                  <!-- <hr style="border-bottom: 1px solid whitesmoke; width: 150px; text-align: center"> -->
                  <!-- Button trigger modal -->
                  <div class="d-flex justify-content-center align-items-center flex-column " style="bottom: 0">
                    <button type="button" class="btn btn-sm btn-outline-light mt-2 text-uppercase" data-toggle="modal" data-target="#exampleModalCenter4">
                      show site in modal window
                    </button>
                    <a href="https://github.com/FarukHossain2133/Password-Management-System" target="_blank" class="btn btn-light 
                    btn-sm mt-2 text-uppercase" >
                      show github source code
                    </a>
                    <a href="https://faruk-pms.herokuapp.com/dashboard" target="_blank" class="btn btn-sm btn-light mt-2 text-uppercase" >
                      show heroku live
                    </a>
                  </div>
                  
                  <button type="button" class="btn btn-sm btn-light mt-2 text-uppercase" data-toggle="tooltip" data-placement="bottom" title="HTML, CSS, JS, BOOTSTRAP, JQUERY, NODEJS, EXPRESSJS, MONGODB">
                    used languages
                  </button>
                </div>
            </div>
          </div>

          
    
            <div class="col-md-6 col-lg-6 col-xl-4 text-center my-3 boxShadow" style="padding: 10px">
              <div class="card bg-dark text-white cardHover" style="padding: 10px">
                  <img  src="/images/weather.PNG" class="card-img cardImg" alt="faruk gigs">
                  <div class="card-img-overlay text-center d-flex justify-content-center align-items-center flex-column">
                    <h5 class="card-title text-center text-uppercase">Weather App</h5>
                    <!-- <hr style="border-bottom: 1px solid whitesmoke; width: 150px; text-align: center"> -->
                    <!-- Button trigger modal -->
                    <div class="d-flex justify-content-center align-items-center flex-column " style="bottom: 0">
                      <button type="button" class="btn btn-sm btn-outline-light mt-2 text-uppercase" data-toggle="modal" data-target="#exampleModalCenter2">
                        show site in modal window
                      </button>
                      <a href="https://github.com/FarukHossain2133/node-weather-app" target="_blank" class="btn btn-light 
                      btn-sm mt-2 text-uppercase" >
                        show github source code
                      </a>
                      <a href="https://faruk-weather-app.herokuapp.com" target="_blank" class="btn btn-sm btn-light mt-2 text-uppercase" >
                        show heroku live
                      </a>
                    </div>
                    
                    <button type="button" class="btn btn-sm btn-light mt-2 text-uppercase" data-toggle="tooltip" data-placement="bottom" title="HTML, CSS, JS, JQUERY, AJAX, NODEJS">
                      used languages
                    </button>
                  </div>
              </div>
          </div>
    
            
          <div class="col-md-6 col-lg-6 col-xl-4 text-center my-3 boxShadow" style="padding: 10px">
            <div class="card bg-dark text-white cardHover" style="padding: 10px">
                <img  src="/images/psd.PNG" class="card-img cardImg" alt="faruk gigs">
                <div class="card-img-overlay text-center d-flex justify-content-center align-items-center flex-column">
                  <h5 class="card-title text-center text-uppercase">psd to html project</h5>
                  <!-- <hr style="border-bottom: 1px solid whitesmoke; width: 150px; text-align: center"> -->
                  <!-- Button trigger modal -->
                  <div class="d-flex justify-content-center align-items-center flex-column " style="bottom: 0">
                    <button type="button" class="btn btn-sm btn-outline-light mt-2 text-uppercase" data-toggle="modal" data-target="#exampleModalCenter6">
                      show site in modal window
                    </button>
                    <a href="https://github.com/FarukHossain2133/PSD-to-HTML-Responsive" target="_blank" class="btn btn-light 
                    btn-sm mt-2 text-uppercase" >
                      show github source code
                    </a>
                    <a href="https://faruk-psdtohtml.herokuapp.com" target="_blank" class="btn btn-sm btn-light mt-2 text-uppercase" >
                      show heroku live
                    </a>
                  </div>
                  
                  <button type="button" class="btn btn-sm btn-light mt-2 text-uppercase" data-toggle="tooltip" data-placement="bottom" title="HTML, CSS, JS, BOOTSTRAP NODEJS, EXPRESSJS">
                    used languages
                  </button>
                </div>
            </div>
          </div>
    
           
    
              <div class="col-md-6 col-lg-6 col-xl-4 text-center my-3 boxShadow" style="padding: 10px">
                  <div class="card bg-dark text-white cardHover" style="padding: 10px">
                      <img  src="/images/authenticate.PNG" class="card-img cardImg" alt="faruk gigs">
                      <div class="card-img-overlay text-center d-flex justify-content-center align-items-center flex-column">
                        <h5 class="card-title text-center text-uppercase">Authentication Application</h5>
                        <!-- <hr style="border-bottom: 1px solid whitesmoke; width: 150px; text-align: center"> -->
                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center align-items-center flex-column " style="bottom: 0">
                          <button type="button" class="btn btn-sm btn-outline-light mt-2 text-uppercase" data-toggle="modal" data-target="#exampleModalCenter5">
                            show site in modal window
                          </button>
                          <a href="https://github.com/FarukHossain2133/Authentication-Application" target="_blank" class="btn btn-light 
                          btn-sm mt-2 text-uppercase">
                            show github source code
                          </a>
                          <a href="https://faruk-authentication-app.herokuapp.com" target="_blank" class="btn btn-sm btn-light mt-2 text-uppercase" >
                            show heroku live
                          </a>
                        </div>
                        
                        <button type="button" class="btn btn-sm btn-light mt-2 text-uppercase" data-toggle="tooltip" data-placement="bottom" title="HTML, CSS, JS, BOOTSTRAP, JQUERY, NODEJS, EXPRESSJS, MONGODB">
                          used languages
                        </button>
                      </div>
                  </div>
                </div>
    
                <div class="col-md-6 col-lg-6 col-xl-4 text-center my-3 boxShadow " style="padding: 10px">
                    <div class="card bg-dark text-white cardHover " style="padding: 10px">
                        <img  src="/images/employe.PNG" class="card-img cardImg" alt="faruk gigs">
                        <div class="card-img-overlay text-center  d-flex justify-content-center align-items-center flex-column">
                          <h5 class="card-title text-center text-uppercase cardTitle" >Employee management Project</h5>
                          <!-- <hr style="border-bottom: 1px solid whitesmoke; width: 150px; text-align: center"> -->
                          <!-- Button trigger modal -->
                          <div class="d-flex justify-content-center align-items-center flex-column " style="bottom: 0">
                            <button type="button" class="btn btn-sm btn-outline-light mt-2 text-uppercase" data-toggle="modal" data-target="#exampleModalCenter3">
                              show site in modal window
                            </button>
                            <a href="https://github.com/FarukHossain2133/Express-employee-managemant-application" target="_blank" class="btn btn-light 
                            btn-sm mt-2 text-uppercase" >
                              show github source code
                            </a>
                            <a href="https://faruk-employee-management-app.herokuapp.com" target="_blank" class="btn btn-sm btn-light mt-2 text-uppercase" >
                              show heroku live
                            </a>
                          </div>
                          
                          <button type="button" class="btn btn-sm btn-light mt-2 text-uppercase" data-toggle="tooltip" data-placement="bottom" title="HTML, CSS, JS, BOOTSTRAP, JQUERY, NODEJS, EXPRESSJS, MONGODB">
                            used languages
                          </button>
                        </div>
                    </div>
                  </div>
                </div>